<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Index page</title>
</head>

<body>
  <div class="appbar">
    <ul class="nav-items">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Feature</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Screenshots</a>
      </li>
      <li class="nav-item dropdown-toggle">
        <a href="#" class="nav-link">News <div class="triangle-down"></div></a>

        <ul class="dropdown-content">
          <li class="dropdown-item"><a>Recent News</a></li>
          <li class="dropdown-item"><a>News One</a></li>
          <li class="dropdown-item"><a>Single News</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</body>

</html>